---
import type { CollectionEntry } from 'astro:content';
import { formatDate, getExcerptFromBody, getPrimaryCategory, getReadingTime } from '../../lib/content';
import { withBase } from '../../lib/site';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props as Props;
const excerpt = post.data.description ?? getExcerptFromBody(post.body, 196);
---

<article class="home-feature-card">
  <div class="home-feature-card__bar">
    <a class="home-feature-card__title stretched-link" href={withBase(`/posts/${post.id}/`)}>{post.data.title}</a>
    <p class="home-feature-card__summary">{excerpt}</p>
  </div>
  <div class="home-feature-card__meta">
    <span>{formatDate(post.data.date)}</span>
    <span>{getPrimaryCategory(post)}</span>
    <span>{getReadingTime(post.body)} min read</span>
  </div>
</article>
